@import "../styles/globals.css";

@layer base {
	:root {
		font-family: var(--font-sans);
	}

	body {
		min-width: 320px;
		min-height: 100vh;
		margin: 0;
		background-color: var(--background);
		color: var(--foreground);
	}
}
